# https://networkpolicy.io/

apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: "network-policy-{{ .Values.global.namespace }}"
  namespace: {{ .Values.global.namespace }}
spec:
  podSelector:
    matchLabels:
      app: web-frontend
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - ipBlock:
            cidr: 0.0.0.0/0
      ports:
        - port: 443
        - port: 80
        - port: 8080
    - from:
        - podSelector:
            matchLabels:
              app: web-frontend
      ports:
        - port: 443
        - port: 80
        - port: 8080
    - from:
        - namespaceSelector: {}
  egress:
    - to:
        - ipBlock:
            cidr: 0.0.0.0/0
      ports:
        - port: 443
        - port: 80
        - port: 8080
    - to:
        - podSelector:
            matchLabels:
              app: web-frontend
      ports:
        - port: 443
        - port: 80
        - port: 8080
    - to:
        - namespaceSelector: {}
          podSelector:
            matchLabels:
              k8s-app: kube-dns
      ports:
        - port: 53
          protocol: UDP
    - to:
        - namespaceSelector: {}
