{{- if .Values.enabled -}}
apiVersion: v1
kind: Secret
metadata:
  namespace: {{ .Values.global.namespace }}
  name: {{ include "statistics-api.fullname" . }}
  labels: {{- include "statistics-api.labels" . | nindent 4 }}
type: Opaque
data:
{{- end }}
