{{- if .Values.enabled -}}
apiVersion: v1
kind: Service
metadata:
  namespace: {{ .Values.global.namespace }}
  name: {{ include "statistics-api.name" . }}
  labels:
    {{- include "statistics-api.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "statistics-api.selectorLabels" . | nindent 4 }}
{{- end }}
