{{- if .Values.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ .Values.global.namespace }}
  name: {{ include "postgres.fullname" . }}
  labels:
    {{- include "postgres.labels" . | nindent 4 }}
data:
  POSTGRES_DB: {{ .Values.postgres.database | quote }}
  POSTGRES_HOST_AUTH_METHOD: {{ .Values.postgres.hostAuthMethod | quote }}
{{- end }}
