apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: localhost:5000/backend
        ports:
        - containerPort: 8080
        env:
        - name: PORT
          value: "8080"
        - name: FRONTEND_HOST
          value: "localhost:3000"
